<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
 
 <form method="post">
    <label>
        Enter Youy height in CMS :
    </label>
    <br><br>
    <input type="text" name="height">
    <br><br>
    <label>
        Enter Your Weight KGs :
    </label>
    <br><br>
    <input type="text" name="weight">
    <br><br>
    <input type="submit">
    <h1>Your L9 is {{L9}}</h1>
 </form>
</body>
</html>